<h1>Welcome to my Book Catalog app</h1>

<% @books.each do |book| %>
  <div>
    <h3><%= book.title + ' - ' + book.author %></h3>
    <h5><%= book.genre + ', ' + book.classification + ', ' + book.book_type + ', ' + book.year %></h5>
    <br />
  </div>
<% end %>